.DS_Store
.dart_tool/
pubspec.lock
.packages
.pub/
.idea
.vscode
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/pubspec.lock
mastodon_flutter.iml
pubspec.yaml.bak